# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# Profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.angular/
.ng_pkg_build/
/.sass-cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test

# Node.js
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Logs
logs
*.log

# Testing
/coverage
*.lcov

# e2e
/e2e/*.js
/e2e/*.map

# Build files
*.tgz
*.tar.gz

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Output of 'npm pack'
*.tgz

# Additional Angular specific
.ng_pkg_build/