<!-- <div class="container">
    <p>Formulario tipo plantilla</p>
    <form #userForm="ngForm" (ngSubmit)="enviarFormularioPlantilla()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="name" class="form-control" id="name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required>
      </div>
      <button type="submit" class="btn btn-outline-success btn-sm">Enviar</button>
    </form>
</div> -->
<div class="container">
    <p>Formulario tipo reactivo</p>
    <form [formGroup]="formularioReactivo" (ngSubmit)="enviarFormularioReactivo()">
      <div class="mb-3">
        <label for="nombre" class="form-label">{{TEXTS.NAME}}</label>
        <input [ngClass]="{'is-invalid':hasErrors('nombre','required') || hasErrors('nombre', 'minlength')}" type="text" class="form-control" id="nombre" formControlName="nombre" >
        <div class="text-danger" *ngIf="hasErrors('nombre', 'required')"> {{TEXTS.REQUIRED_FORM}} </div>
        <div class="text-danger" *ngIf="hasErrors('nombre', 'minlength')"> {{TEXTS.MINLENGTH_FORM}} </div>
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">{{TEXTS.EMAIL}}</label>
        <input [ngClass]="{'is-invalid':hasErrors('correo','required') || hasErrors('correo','email')}" type="email" class="form-control" id="correo" formControlName="correo" >
        <div class="text-danger" *ngIf="hasErrors('correo','email')"> {{TEXTS.EMAIL_INVALID}} </div>
        <div class="text-danger" *ngIf="hasErrors('correo','required')"> {{TEXTS.REQUIRED_FORM}} </div>
      </div>
      <button type="submit" class="btn btn-outline-success btn-sm">{{TEXTS.SEND}}</button>
    </form>
</div>
